.studentForm input {
    width: 400px;
    height: 56px;
    padding: 1rem;
    border: 1.5px solid rgba(224, 224, 224, 1);
    border-radius: 16px;
}

.studentForm select {
    width: 400px;
    height: 56px;
    padding: 1rem;
    border: 1.5px solid rgba(224, 224, 224, 1);
    border-radius: 16px;
}

.studentForm label {
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
}

.studentBtn button {
    width: 400px;
    height: 48px;
    font-weight: 600;
    margin: 2rem 0 0 0;
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(72, 45, 131, 1);
}