@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sora&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.logUser {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin: 25px;
}

.logUserIcon {
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    background-color: #6950A1;
    border-radius: 50%;
}

.logUserInfo div:first-child {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.logUserInfo div:last-child {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #757575;
}

.sidebar {
    height: 100vh;
    background-color: #482D83;
    display: flex;
    flex-direction: column;
}

.defaultTitle {
    text-align: center;
    margin: 25px 0;
    font-family: 'Satoshi', sans-serif;
    font-size: 38px;
    color: #FBB04D;
}

.defaultTitle span {
    font-weight: 900;
    color: #FFFFFF;
}

.defaultSidebar {
    display: flex;
    flex-direction: column;
}

.defaultItemSidebar a {
    height: 56px;
    margin-left: 3%;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.activePage {
    font-weight: 600;
    background-color: rgba(118, 130, 193, 0.3);
    border-radius: 8px;
}

.right-section {
    height: 100vh;
}