.rightSectionContainerTable td, th {
    padding: 0 1rem;
}
.rightSectionContainerTable th:last-child {
    padding-right: 40px;
}

.classTable td {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.classTable td:nth-child(3) {
    max-width: 200px;
    /* overflow-x: scroll; */
}

.classForm input[name="nameClass"], input[name="linkClass"] {
    width: 400px;
    height: 56px;
    padding: 1rem;
    border: 1.5px solid rgba(224, 224, 224, 1);
    border-radius: 16px;
}

.classForm input[name="date"], input[name="meetCount"] {
    width: 246px;
    height: 56px;
    padding: 1rem;
    border: 1.5px solid rgba(224, 224, 224, 1);
    border-radius: 16px;
}

.classForm input[name="beginTime"], input[name="endTime"] {
    width: 246px;
    height: 56px;
    padding: 1rem;
    border: 1.5px solid rgba(224, 224, 224, 1);
    border-radius: 16px;
}

.classForm select[name="mentory"], select[name="mentor"] {
    width: 400px;
    height: 56px;
    padding: 1rem;
    border: 1.5px solid rgba(224, 224, 224, 1);
    border-radius: 16px;
}

.classForm select[name="day"] {
    width: 246px;
    height: 56px;
    padding: 1rem;
    border: 1.5px solid rgba(224, 224, 224, 1);
    border-radius: 16px;
}

.classForm label {
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
}

.classBtn button {
    width: 250px;
    height: 48px;
    font-weight: 600;
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(72, 45, 131, 1);
}

.marginForm {
    margin: 2rem 0 0 0;
}

.color {
    background-color: green;
    color: yellow;
}