@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sora&display=swap');

.fontSora {
    font-family: 'Sora', sans-serif;
}

.fontPoppins {
    font-family: 'Poppins', sans-serif;
}

.positionCard {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -212px;
    margin-left: -212px;
}

.titleLogin {
    font-size: 36px;
    font-weight: bold;
    color: #212121;
}

.subtitleLogin {
    color: #424242;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newUserLogin {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.newUserLogin a {
    text-decoration: none;
    color: #424242;
    font-size: 14px;
}

.form {
    margin-top: 40px;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formItem label {
    color: #757575;
}

.formItem input {
    width: 400px;
    height: 56px;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
}

.optionsLogin {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.optionsLogin a {
    text-decoration: none;
    color: #616161;
}
.optionsLogin span {
    display: flex;
}
.optionsLogin input {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.optionsLogin label {
    font-weight: bold;
}

.btnLogin {
    width: 400px;
    height: 56px;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #482D83;
    border-radius: 16px;
    cursor: pointer;
}

.changePageLogin {
    width: 400px;
    height: 56px;
    display: grid;
    place-items: center;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #482D83;
    border-radius: 16px;
    cursor: pointer;
}


/* Criar função para transição de cor dos input junto com validação dos mesmos */
.inputOk {
    color: #00C247;
    border: 1px solid #00C247;
}

/* NEW USER PAGE */

.valid {
    border: 1px solid green;
}
  
.invalid {
    border: 1px solid red;
}
  
.hide {
    display: none;
}
  
.show {
    display: block;
    color: red;
}
.relativeDiv {
    position: relative;
}
.eyePassword {
    position: absolute;
    top: 16px;
    right: 16px;
}

.eyePassword img {
    width: 24px;
    height: 24px;
    opacity: 0.5;
}